body {
  background-color: #f0f0f0;
}

/* Page App */

.title {
  text-align: center;
  margin: 30px;
}

.table {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.divider {
  width: 2px;
  background-color: #ccc;
}

/* Page TaskList */

.titleList {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.completed {
  background-color: #21b945;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 5px;
  color: white;
}

.in-progress {
  background-color: #6babef;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 5px;
  color: white;
}

/* Page TaskCompleted */

.listTasks {
  list-style-type: none;
  width: 150%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}