body {
  background-color: #f0f0f0;
}

/* Page App */

.title {
  text-align: center;
  margin: 30px;
}

.table {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.divider {
  width: 2px;
  background-color: #ccc;
}

/* Titre card TaskList & TaskCompleted */

.completed {
  background-color: #21b945;
  padding: 4px 6px;
  border-radius: 4px;
  color: white;
}

.in-progress {
  background-color: #6babef;
  padding: 4px 6px;
  border-radius: 4px;
  color: white;
}